<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
	<title>Create Lesson</title>
</head>
<body>
	<div class="container">
		<%- include('../partials/navbar'); %>
		<section class="header">
			<h2 class="title">Create Lesson</h2>
		</section>
		<div class="section" id="create-lesson">
			<% if (locals.error) { %>
				<p class="u-full-width error"><%= error.message %></p>
			<% } %>
			<form action="" method="post" enctype="multipart/form-data">
				<input class="u-full-width" type="text" id="title" name="title" placeholder="title">
				<textarea class="u-full-width" type="text" id="description" name="description" placeholder="description"></textarea>
				<input class="u-full-width" type="file" name="file" id="file">
				<input class="u-full-width" type="submit" value="Create">
			</form>
		</div>
	</div>
</body>
</html>