<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
	<title>Lessons</title>
</head>
<body>
	<div class="container">
		<%- include('../partials/navbar'); %>
		<section class="header">
			<h2 class="title">Lessons</h2>
		</section>
		<div class="section" id="lessons">
			<% if (lessons.length) {
				lessons.forEach((lesson) => { %>
					<a class="button u-full-width" href="/lesson/<%= lesson.id %>"><%= lesson.title %></a><br>
				<% })
			} 
			if (locals.user.role === "administrator") { %>
				<a class="button button-primary u-full-width" href="/lesson/create">Create Lesson</a><br>
			<% } %>
		</div>
	</div>
</body>
</html>