<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
	<title>Login</title>
</head>
<body>
	<div class="container">
		<%- include('../partials/navbar'); %>
		<section class="header">
			<h2 class="title">Login</h2>
		</section>
		<div class="section" id="login">
			<% if (locals.error) { %>
				<p class="u-full-width error"><%= error.message %></p>
			<% } %>
			<form action="" method="post">
				<input class="u-full-width" type="email" id="email" name="email" placeholder="email">
				<input class="u-full-width" type="password" id="password" name="password" placeholder="password">
				<input class="u-full-width" type="submit" value="Login">
			</form>
		</div>
	</div>
</body>
</html>